<launch>
	<node 
		pkg="articulation_models" type="simple_publisher.py" name="simple_publisher" 
		args="
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/001.log 
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/001.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/002.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/002.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/003.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/003.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/004.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/004.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/005.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/005.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/006.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/006.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/007.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/007.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/008.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/008.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/009.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/009.log 
			$(find articulation_tutorials)/demo_fitting/data/drawer_one/010.log
			$(find articulation_tutorials)/demo_fitting/data/cabinet_one/010.log 
		"/>

	<node pkg="rviz" type="rviz" output="screen" name="rviz" args="-d $(find articulation_tutorials)/demo_fitting/visualize_tracks.vcg" />

</launch>
